/qvcse-apache-diff/target/
/qvcse-qvcslib/target/
/qvcse-admin/target/
/qvcse-server/target/
/qvcse-gui/target/
/qvcse-test/target/
/qvcse-guilib/target/
/qvcse-build-tools/target/
/target/
/testFiles/BinaryKeywordExpanded.doc
/testFiles/derby.log
/testFiles/qvcsedb/
/testFiles/TestKeywordBranchNonTipExpansion.expanded.cpp
/testFiles/TestKeywordBranchTipExpansion.expanded.cpp
/testFiles/TestKeywordExpansion.expanded.cpp
/testFiles/qvcsUserData/
/testFiles/qvcsActivityJournal/
/testFiles/qvcsAdminData/
/testFiles/qvcsMetaData/
/testFiles/qvcsProjectsArchiveData/
/testFiles/QVCSTestFiles/
/testFiles/qvcsProjectProperties/qvcs.served.project.Test ProjectW.properties
/testFiles/qvcsProjectProperties/qvcs.served.project.Test Project.properties
/testFiles/QVCSEnterpriseServer0.log*
/testFiles/qvcsEnterpriseAntClient0.log*
/testFiles/WebServer.log
/testFiles/qvcsProjectsDatabase/
/testFiles/testArchives/
/testFiles/logs/
/qvcse-coverage/target/
/qvcse-coverage/src/main/
/qvcse-coverage/src/test/
/qvcse-coverage/testFiles/
/testenterprise/testDeploy/

/qvcse-cover-all/testFiles/
/qvcse-cover-all/nbproject/private/
/qvcse-cover-all/dist/
/qvcse-all-coverage/nbproject/private/
/qvcse-all-coverage/build/
/qvcse-all-coverage/dist/
/qvcse-all-coverage/src/
/qvcse-all-coverage/testFiles/
/qvcse-all-coverage/.jacocoverage/
/qvcse-all-coverage/jacocoverage.report.xml
/qvcse-all-coverage/jacoco.exec-*
