p  {
font-family: verdana, arial, sans-serif;
font-size: 13px;
color : #222;
background: #FFF;
text-decoration : none;
margin: 5px 20px 20px 20px;
text-align : left;
}

p.code {
font-family: courier;
}

p.search {
background: #B7CADB;
}

p.menu {
border: none;
margin : 0px 10px 0;
padding: 0px 4px 6px 0px;
text-align : left;
color : #003366;
background: #B7CADB;
}

p.menuin {
border: none;
margin : 0px 25px 0;
padding: 0px 4px 4px 0px;
text-align : left;
color : #003366;
background: #B7CADB;
}

p.menubottom {
border: none;
margin : 0px 10px 0;
padding: 0px 4px 2px 0px;
text-align : left;
color : #003366;
background: #B7CADB;
}

p.selmenu {
border: none;
font-weight: bold;
margin : 0px 10px 0;
padding: 0px 4px 6px 0px;
text-align : left;
color : #CF6402;
background: #B7CADB;
}

p.selmenubottom {
border: none;
font-weight: bold;
margin : 0px 10px 0;
padding: 0px 4px 2px 0px;
text-align : left;
color : #CF6402;
background: #B7CADB;
}

p.selmenuin {
border: none;
margin : 0px 25px 0;
padding: 0px 4px 4px 0px;
text-align : left;
color : #CF6402;
background: #B7CADB;
}

p.center {
text-align : center;
}

p.left {
text-align : left;
}

p.right {
text-align : right;
}

p.ib {
font-style : italic;
font-weight : bold;
}

p.b {
font-weight : bold;
}

p.fq {
font-weight : bold;
margin-bottom: 0px;
}

p.fa {
font-weight : bold;
font-style : italic;
margin-bottom: 0px;
color : #003366;
}

p.fap {
padding-left: 15px;
}

p.howto {
font : 9pt Arial, Verdana, Helvetica, sans-serif;
background: #F3D29D;
}

p.news {
font : 9pt Arial, Verdana, Helvetica, sans-serif;
background: #DFECF9;
}

p.product {
font : 12pt Arial, Verdana, Helvetica, sans-serif;
}

p.announce {
font : 14pt Arial, Verdana, Helvetica, sans-serif;
color : #990000;
margin: 10px 0px 0px 20px;
}

p.features {
font : 10pt Arial, Verdana, Helvetica, sans-serif;
}

p.license {
background-color: #DDDDDD;
}

hr {
margin : 5px 20px 5px 20px;
border-bottom: 1px solid #666;
border-top: none;
border-right: none;
border-left: none;
}

h1 {
font : 14pt Arial, Verdana, Helvetica, sans-serif;
color : #990000;
text-decoration : none;
font-weight : bold;
margin : 0px 15px 0px 15px;
}

h1.center {
text-align : center;
}

h2 {
font : 13pt Arial, Verdana, Helvetica, sans-serif;
color : #576691;
text-decoration : none;
font-weight : bold;
margin : 0px 15px 0px 15px;
}  

h3 {
font : 12pt Arial, Verdana, Helvetica, sans-serif;
color : #222;
text-decoration : none;
margin : 0px 15px 0px 15px;
}

h3.i {
font-style : italic;
}

h3.b {
font : 12pt Arial, Verdana, Helvetica, sans-serif;
color : #222;
text-decoration : none;
font-weight : bold;
font-style : italic;
margin : 5px 15px 5px 25px;
}

ul {
margin : 0 5px 0 10px;
}

ul.history {
margin : 0 5px 0 20px;
}

li {
margin : 0 15px 0 15px;
font-style : normal;
text-decoration : none;
font-family : Arial, Verdana, Helvetica, sans-serif;
font-size : 100%;
text-align : left;
color : #222;
list-style-type: square;
display: list-item;
list-style-position: outside;
line-height : 1.3;
}

li.history {
margin : 0 5px 0 5px;
font-style : normal;
text-decoration : none;
font : 10pt Arial, Verdana, Helvetica, sans-serif;
text-align : left;
color : #222;
list-style-type: square;
display: list-item;
list-style-position: outside;
line-height : 1.3;
}

li.faq {
font-size: 13px;
}

li.features {
font : 10pt Arial, Verdana, Helvetica, sans-serif;
margin : 0 5px 0 30px;
}

table.width {
width : 100%
}

table.compare {
width : 100%
}

table.comparecontainer {
width : 100%;
border-style: solid;
border-width: 2px 2px 2px 2px;
}

table.features {
padding-left: 2%;
padding-right: 2%;
border-style: solid;
border-width: 0px 1px 0px 0px;
}

tr.header {
text-align : center;
font-style : italic;
}

tr.compare {
text-align : center;
font-style : normal;
}

th {
color : #222;
}

td {
color : #222;
}

a.mro {
text-decoration : none;
font-weight: bold;
color : #003366;
}

a.mro:hover {
text-decoration : underline;
}

a.mroi {
text-decoration : none;
color : #003366;
}

a.mroi:hover {
text-decoration : underline;
}

a.bro {
text-decoration : none;
color : #2D0DED;
}

a.bro:hover {
color : #FF8800;
}

a.abro {
text-decoration : none;
font : 14pt Arial, Verdana, Helvetica, sans-serif;
color : #990000;
margin: 10px 10px 10px 5px;
}

td.titlegraphic {
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #010101;
vertical-align: top;
padding-left: 0px;
background-color: #7E98C8;
}

td.titlegraphicheader {
border-style: none;
vertical-align: top;
padding-top: 0px;
background-color: #B7CADB;
}

td.titlegraphicheaderLeft {
border-style: solid;
border-width: 1px 1px 0px 1px;
border-color: #010101;
background-color: #B7CADB;
vertical-align: top;
width: 210px;
height: 20px;
}

td.titlegraphicLeft {
border-style: solid;
border-width: 1px 1px 0px 1px;
border-color: #010101;
background-color: #FFF;
vertical-align: top;
width: 10px;
}

td.titlegraphicheaderCenter {
border-style: solid;
border-width: 1px 0px 0px 0px;
border-color: #010101;
background-color: #FFF;
vertical-align: top;
height: 20px;
}

td.titlegraphicheaderRight {
border-style: solid;
border-width: 1px 1px 0px 1px;
border-color: #010101;
background-color: #B7CADB;
vertical-align: top;
width: 220px;
height: 20px;
}

td.border {
border-style: solid;
border-width: 1px 1px 1px 1px;
}

td.newsletter {
border-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #576691;
vertical-align: top;
}

td.blog {
border-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #576691;
vertical-align: top;
}

td.howto {
border-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #576691;
vertical-align: top;
}

td.news {
border-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #576691;
vertical-align: top;
}

td.body {
border-style: none;
background-color: #FFFFFF;
vertical-align: top;
}

td.main {
border-style: solid;
border-width: 1px 1px 1px 1px;
}

td.cmp {
border-style: solid;
border-width: 0px 1px 0px 0px;
}

td.product {
vertical-align: top;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-color: #010101;
padding: 10px;
}

td.features {
vertical-align: top;
padding-left: 3px;
padding-right: 3px;
}

td.leftmenu {
border-style: solid;
border-width: 0px 1px 0px 1px;
border-color: #010101;
background-color: #B7CADB;
vertical-align: top;
padding-top: 10px;
padding-left: 10px;
width: 200px;
}

td.rightgutter {
border-style: solid;
border-width: 0px 1px 0px 1px;
border-color: #010101;
background-color: #B7CADB;
vertical-align: top;
padding-left: 5px;
padding-top: 15px;
padding-right: 5px;
width: 200px;
}

td.bottomtd {
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #010101;
background-color: #B7CADB;
}

td.toptd {
border-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #B7CADB;
}

td.buy {
font-size: 13px;
}

td.cust {
font-size: 13px;
vertical-align: top;
}

td.dl {
font-size: 13px;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #000;
background-color: #FFFFFF;
}

th.dlheader {
font-size: 13px;
border-style: solid;
border-width: 1px 1px 1px 1px;
color : #FFFFFF;
border-color: #000;
background-color: #000;
}

#page-logo {
font-family: verdana, arial, sans-serif;
color: #FFF;
font-size: 30px;
font-weight: normal;
color: #003366;
background: #DDE6ED;
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
}

#page-logo * {
font-family: verdana, arial, sans-serif;
font-size: 30px;
font-weight: normal;
color: #003366;
background: #DDE6ED;
}

#page-title {
font-family:verdana, arial, sans-serif;
font-size: 10px;
}

#page-tagline {
font-family: verdana, arial, sans-serif;
font-size: 11px;
font-weight: bold;
color: #003366;
background: #DDE6ED;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 15px;
font-style : italic;
}

.newslettertitle {
font-family: verdana, arial, sans-serif;
color: #990000;
font-size: 10px;
font-weight: bold;
background: #B7CADB;
line-height: 140%;
padding: 2px;
margin-top: 10px;
text-align: center;
}		

.sidetitle {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: 10px;
font-weight: bold;
background: #B7CADB;
line-height: 140%;
padding: 2px;
margin-top: 10px;
text-align: center;
}

.sidesearch {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: 12px;
font-weight: bold;
background: #B7CADB;
line-height: 100%;
padding: 0px;
margin-top: 10px;
text-align: left;
}		

.bottomtitle {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: 10px;
font-weight: bold;
background: #B7CADB;
line-height: 140%;
padding: 2px;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
text-transform: uppercase;
}		

.toptitle {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: x-small;
font-weight: bold;
background: #B7CADB;
line-height: 140%;
padding: 2px;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
text-transform: uppercase;
}		

.side {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: 10px;
font-weight: normal;
background: #FFFFFF;
line-height: 140%;
padding: 2px;				
}	

.sidehowto {
font-family: verdana, arial, sans-serif;
color: #222;
font-size: 10px;
font-weight: normal;
background: #FFFFFF;
line-height: 140%;
padding: 2px;				
}	

.question {
color: #FD7B2D;
font-weight: bold;
}
