    p  {
     font : 12pt Arial, Verdana, Helvetica, sans-serif;
     color : #1D74CB;
     text-decoration : none;
     margin : 0 15px 10px 30px;
     text-align : left;
      }
    p.menu {
     font-weight : bold;
     margin : 3px 0 0;
     text-align : right;
      }
    p.center {
     text-align : center;
      }
    p.left {
     text-align : left;
      }
    p.right {
     text-align : right;
      }
    p.ib {
	font-style : italic;
	font-weight : bold;
      }
    p.fq {
	font-weight : bold;
	margin-bottom: 0px;
      }
    p.fa {
	font-weight : bold;
	font-style : italic;
	margin-bottom: 0px;
      }
    p.fap {
	padding-left: 15px;
      }
    hr {
     margin : 0px 20px 0px 20px;
     border-bottom: 1px solid #1D74CB;
     border-top: none;
     border-right: none;
     border-left: none;
      }
    h1 {
     font : 14pt Arial, Verdana, Helvetica, sans-serif;
     color : #1D74CB;
     text-decoration : none;
     font-weight : bold;
     margin : 0px 15px 0px 15px;
      }
    h1.center {
     text-align : center;
      }
    h2 {
     font : 13pt Arial, Verdana, Helvetica, sans-serif;
     color : #1D74CB;
     text-decoration : none;
     font-weight : bold;
     margin : 0px 15px 0px 15px;
      }  
    h3 {
     font : 12pt Arial, Verdana, Helvetica, sans-serif;
     color : #1D74CB;
     text-decoration : none;
     margin : 0px 15px 0px 15px;
      }
    h3.i {
	font-style : italic;
      }
    ul {
	margin : 0 15px 0 25px;
      }
    li {
     margin : 0 25px 0 25px;
     font-style : normal;
     text-decoration : none;
     font-family : Arial, Verdana, Helvetica, sans-serif;
     font-size : 100%;
     text-align : left;
     color : #1D74CB;
     list-style-type: disc;
     display: list-item;
     list-style-position: outside;
     line-height : 1.1;
      }
    table.width {
     width : 100%
      }
    table.compare {
     width : 80%
      }
    tr.header {
     text-align : center;
     font-style : italic;
      }
    tr.compare {
     text-align : center;
     font-style : normal;
      }
    th {
     color : #1D74CB;
	}
    td {
     color : #1D74CB;
	}
    a.mro {
     text-decoration : none;
     font-weight : bold;
     color : #c8a028;
      }
    a.mro:hover {
     color : #823232;
      }
    a.bro {
     text-decoration : none;
     font-weight : bold;
     color : #14508c;
      }
    a.bro:hover {
     color : #823232;
      }





